.rodape{
    width: 100%;
}

section.resume-section .resume-section-content {
    width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 8px; 
}

.anonovo{
    width: 45vw;
}


.text-end {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    height: 100vh;
  }


  .right-text, .left-image {
    flex-basis: 50%; 
  }

