.rodape{
    width: 100%;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    margin-top: 200px;
}

section.resume-section .resume-section-content {
    width: 100%;
}

.anonovo{
    width: 45vw;
}

